<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournaments Schedule</title>
    <script type="text/javascript" src="static/index.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <h2>Tournaments Schedule</h2>
    <button onclick="log_this_info()">Click to show tournaments</button>
    <table id="table">
        <tr>
            <th>Name</th>
            <th>Prize Pool</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
    </table>
</body>
</html>