p {
    margin: 0;
}

.tournaments-outer-div {
    padding: 5px;
    height: 20vh;
}

.tournaments-inner-div:hover {
    background-color: #737373;
}

.tournaments-inner-div {
    height: 95%;
    border: 2px solid rgba(7, 4, 4, 0.57);
    border-radius: 0px;
}


/* individual tournament row div */
hr.solid {
    border-top: 3px solid #bbb;
}

hr {
    margin: 0;
}

a {
    color: ivory;
}

.tournament-data {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}


.vertical-line {
    width: 0px;
    height: 50%;
}


/* main tournament info */
.main-tournament-info-div {
    width: 17.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: left;
    align-items: baseline;
    padding-left: 20px;
    text-align: left;
}

.prize-pool-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* empty spacer div*/
.spacer-div {
    width: 57.5%;
}

.stream-link-div {
    width: 10%;
}

/* all tournament row items */
.tournament-data-item {
    display: inline-block;
}


.trophy-img {
    height: 1.1em;
    /*transform: translateX(-0.25em);*/
}

.monitor-img {
    height: 4em;
}

.tournament-name {
    font-size: 1.25em;

}

.tournament-format {
    font-size: 0.8em;
}