.header-div {
    z-index: 1;
    height: 8vh;
    width: 100%;
    background: rgba(220, 205, 210, 0.3);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease-in;
}

.tth-img-link {
    padding-left: 10px;
    height: 90%;
    width: 8vh;
}

.tth-img {
    height: 100%;
    width: 100%
}