.players-table-outer-div{
}

.players-table-inner-div{
    padding: 10vh 10vw 1vh;
}

.player-grid-item{
    /*DEBUG*/
    /*background: grey;*/
}

.player-outer-div{
    width: 80%;
    aspect-ratio: 4 / 3;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    /* DEBUG */
    /*background: lightblue;*/
    padding: 0;
    position: relative;
}

.player-inner-div{
    background: #fff;


    height: 100%;
    width: 87%;

    border-radius: 5px;
    margin: 0 auto;

    z-index: 5;

    overflow: hidden;
}

.player-inner-div p{
    color: darkslategray;
    font-size: 20px;

    bottom: 0;
    float: left;
    position: absolute;

}

.player-inner-div h3{
    float: left;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.overlay-div{
    position: absolute;

    width: 100%;
    height: 78%;

    bottom: 0;
    z-index: 6;
    transform: translateY(1px);
}

.overlay-image{
    width: 100%;
    height: 100%;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 2em;
}

.headings{
    float: right;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 1em;
}

.empty-break{
    height: 2.5rem;
}

.arrow-img{
    height: 1vw;
    aspect-ratio: 1 / 1;

    margin-left: 50%;
    margin-bottom: 50%;
    z-index: 8;
}

.profile-picture{
    /*position: absolute;*/
    height: 70%;
    aspect-ratio: 1 / 1;

    border: 0;
    position: absolute;
    top: 15%;
    right: 12%;
    z-index: 9;
}

/*.player-inner-div img {*/
/*    position: absolute;*/
/*}*/